{% extends 'base.html.twig' %}

{% block title %}Présentation Paul ETIGNARD{% endblock %}

{% block body %}
    <h1 class="mt-4">Bienvnue sur mon Portfolio</h1>
    <h3>Présentation :</h3>
    <ul>
        <li>Paul ETIGNARD</li>
        <li>19 ans</li>
        <li>Diplome : BAC STI2D option ITEC</li>
        <li>Permis : Oui</li>
    </ul>
    <p>Actuellement en BTS SIO, passionné depuis mon plus jeune âge
        par le monde du numérique et de l'informatique, je souhaite me
        spécialiser dans le développement, afin d'être capable de coder
        tout ce que je veux.
    </p>

    <p>
        <img src="../../data/img/1669805057799.png" alt="img">
    </p>





{% endblock %}
